body{font-family:sans-serif;}
#player{ width:77%;position:fixed;height:80%;visibility:hidden;}

#f {width:20%;float:right;}
#f a{display:block; margin-bottom:25px; color:#666;}
#f a.current{padding:2px; border:2px solid purple;}

#settings {position:fixed; width:77%; left:0; bottom:0; border-top:1px solid #666; border-right:1px solid #666; height:75px;}
#settings textarea{ height:65px;}
.settings-group{display:inline-block; margin-right:5px;padding:3px; vertical-align:middle;}
#settings label{padding:5px;}
#opt-init{background:#FFF; border:0px;border-left:1px solid #666; height:75px;line-height:75px;cursor:pointer; font-size:25px;}
#opt-init:hover{color:green;}
.settings-group:last-of-type {float:right;padding:0px;}
